{
	auto_https off
}

:9000 {
	encode zstd gzip

	redir / /grafana/ 302

	redir /grafana /grafana/ 302
	handle /grafana/* {
		reverse_proxy grafana:3000
	}

	redir /tempo /tempo/ 302
	handle_path /tempo/* {
		reverse_proxy tempo:3200
	}

	redir /otel /otel/ 302
	handle_path /otel/* {
		reverse_proxy otel-collector:8888
	}
}
